<!-- pass messages from indexRouter.js -->
<html>
    <body>
        <div>Mini Message Board</div>
        <% for (let i = 0; i < links.length; i++) { %>
            <li>
                <a href="<%= links[i].href %>">
                <span> <%= links[i].text %> </span>
                </a>
            </li>
        <% } %>
        <a href="/new">
            <button>Add New Message</button>
        </a>
        <ul>
            <% for (let i = 0; i < messages.length; i++) { %>
                <li>
                    <div>
                        User: <%= messages[i].user %>  
                    </div>
                    <div> 
                        Text: <%= messages[i].text %> 
                    </div>
                    <div>
                        Added: <%= messages[i].added %>
                    </div>
                    <!-- making button send to /message/:messageId url, this messageId is passed -->
                     <!-- as parameter in indexRouter -->
                    <a href="/messages/<%= i %>">
                         <button id="details">Open details</button>
                    </a>

                </li>
            <% } %>
        </ul>
        
        
    </body>

</html>
